.checkbox {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #444444;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  margin-right: 14px;
}

.checkbox:checked {
  background: #3ddc84;
}

.checkbox::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: white;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

.checkbox:checked::before {
  transform: translateX(16px);
  background: white;
}

.search__toggle-checkbox {
  max-width: 170px;
  display: flex;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 32px auto;
}
